<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGA Accessibility Plugin</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'core/css/main.css' %}" />
  </head>
  <body class="bg-gray-100">
    <div id="accessibility-app">
      {% include 'core/accessibility_widget.html' %}
    </div>

    <script src="{% static 'core/js/bundle.js' %}"></script>
  </body>
</html>
