<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGA Accessibility Plugin</title>
    <!-- Incluir o CSS do Tailwind (compilado) -->
    {% load static %}
    <!-- Aqui é importante que a ordem esteja correta: primeiro carregar o static, depois usar -->
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
</head>
<body class="bg-gray-100 min-h-screen">
  

    <main class="container mx-auto p-4">
        <div class="bg-white rounded-lg shadow-md p-6 mb-6">
             <h2 class="text-xl font-semibold mb-4 text-green-600">Conteúdo Principal da Aplicação</h2>
            <p class="mb-4 ">
                Este é um exemplo de conteúdo da sua aplicação. O plugin de acessibilidade estará 
                disponível no canto inferior direito da tela.
            </p>
            <p class="mb-4 text-orange-400 font-bold">
                O plugin oferece recursos como ajuste de tamanho da fonte, alto contraste, 
                leitor de tela e comandos por voz.
            </p> 
        </div>
    </main>

    <!-- Div onde o aplicativo Vue será montado -->
    <div id="accessibility-app">
        {% include 'core/accessibility_widget.html' %}
    </div>


    <!-- Incluir o JS do Vue compilado -->
    <script src="{% static 'core/js/bundle.js' %}"></script>
</body>
</html>